<div class="container">
  <div class="row dash-row">
    <div class="col-md-10 offset-md-1"><h2 class="title-css">Currently Monitoring Applications</h2></div>
  </div>
  <div class="row dash-row">
    <div class="col-md-10 offset-md-1">
      <div class="content" id="monitors-dashboard">
        <%= @monitors.to_a.push(ApplicationMonitor.new).each_slice(3) do |monitors| %>
          <div class="row dash-row" style="position:relative;">
            <% monitors.each do |monitor| %>
              <% if monitor.id %>
                <%= render partial: monitor, locals: {monitor: monitor} %>
              <% else %>
                  <% style = @monitors.empty? ? "position:top:125px" : "position:bottom:25px" %>
                  <%= link_to new_application_monitor_path, {style: style, class: "btn btn-circle btn-brand btn-lg"} do %>
                    <i class="fa fa-plus"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
