<div class="container-fluid real-time">
  <h1 class="display-5 text-center">Monitor Your Application in Real Time</h1>
  <div class="row">
    <div class="col-md-4 real-cell">
      <iframe width="440" height="300" src="https://www.youtube.com/embed/ApvtPNU_XzE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 real-cell">
      <a class="btn btn-danger btn-cell" href="#">Get Started Today</a>
    </div>
    <div class="col-md-4 real-cell">
      <iframe width="440" height="300" src="https://www.youtube.com/embed/YvexJdq_XaQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
