<div class="container-fluid monitoring-simple">
  <h1 class="display-5 text-center">Real Time Application Monitoring Made Simple</h1>
  <div class="row">
    <div class="col-md-4 simple-cells">
      Currently Monitor
      <div class="row">
        <div class="col-md-2 offset-md-1 icon-style">
          <i class="fab fa-aws fa-lg"></i>
        </div>
        <div class="col-md-6 text-style">
          Amazon Web Services
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 offset-md-1 icon-style">
          <i class="fas fa-cloud fa-lg"></i>
        </div>
        <div class="col-md-5 text-style">
          Heroku
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 offset-md-1 text-style">
          App must respond to HTTP requests
        </div>
      </div>
    </div>
    <div class="col-md-4 simple-cells">
      Free Features
      <div class="row">
        <div class="col-md-2 offset-md-2 icon-style">
          <i class="fas fa-tachometer-alt fa-lg"></i>
        </div>
        <div class="col-md-6 text-style">
          Real Time Dashboard
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 offset-md-2 icon-style">
          <i class="fas fa-users fa-lg"></i>
        </div>
        <div class="col-md-5 text-style">
          Capped @ 3 Users
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 offset-md-2 icon-style">
          <i class="fas fa-desktop fa-lg"></i>
        </div>
        <div class="col-md-6 text-style">
          First 3 Apps <bold>FREE</bold>
        </div>
      </div>
    </div>
    <div class="col-md-4 simple-cells">
      Paid Features
      <div class="row">
        <div class="col-md-2 offset-md-2 icon-style">
          <i class="fas fa-comment fa-md"></i>
          <i class="fas fa-envelope fa-md"></i>
        </div>
        <div class="col-md-6 text-style">
          SMS & Email Packages
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 offset-md-2 icon-style">
          <i class="fas fa-users fa-lg"></i>
        </div>
        <div class="col-md-5 text-style">
          Unlimited Users
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 offset-md-2 icon-style">
          <i class="fas fa-desktop fa-lg"></i>
        </div>
        <div class="col-md-6 text-style">
          Unlimited Apps
        </div>
      </div>
    </div>
  </div>
</div>
