body {
  width: 100%;
}

.btn.btn-brand.btn-circle {
  height: 50px;
}

.title-css {
  color: $PrimaryColor;
}

.dash-row {
  font-size: 24px;
  margin-bottom: 15px;
  .btn-circle {
    margin-left: 10px;
  }
}

.form-row {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  color: $PrimaryColor;
  text-align: right;
}

.pagination {
  .page-item.active {
    .page-link {
      background-color: $PrimaryColor;
      border-color: $PrimaryColor;
    }
  }
  .page-link {
    border-color: $PrimaryColor;
    color: $PrimaryColor;
  }
}

.card {
  height: 200px;
  color: #fff;
  background-color: green;
  .btn-brand:hover {
    background-color: #dc3545;
  }
  margin-left: 5px;
  margin-right: 5px;
  width: 300px;
}

